<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AutoRent</title>
  <meta content="AutoRent" name="description">
  <meta content="AutoRent" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='images/logo.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/aos.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap-icons.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/boxicons.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/glightbox.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/remixicon.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/swiper-bundle.min.css') }}">


  <!-- Template Main CSS File -->
  
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

  <!-- =======================================================
  * Template Name: Bootslander - v4.8.2
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
          <h1><a href="#page-top"><img src="{{ url_for('static',filename='images/logo.png') }}"><class="img-fluid"></a><a href=""><span>AutoRent</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#howitworks">How It Works</a></li>
          <li><a class="nav-link scrollto" href="#partners">Partners</a></li>
          <li><a class="nav-link scrollto" href="#ourteam">Our Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Car Damage Assessments Made Simple with <span>AutoRent</span></h1>
            <h2>Adopted by major car rental companies in Singapore</h2>
            <div class="text-center text-lg-start">
              <a href="#howitworks" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{{ url_for('static',filename='images/hero2.png') }}" class="img-fluid animated" alt=""/>
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">
          
            <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
          <p>The AutoRent Story</p>
        </div>

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right"><img src="{{ url_for('static',filename='images/aboutus.jpg') }}" alt="">
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>Our Journey</h3>
            <p>We are a team of potential graphic designers that comes from different background. We embarked on our journey since March 2022 and will strive to be even better by end of 2022. We aim to market our products to car rental services to assist them on car images classification. Apart from it, we provide them with a chat box service to assist them with their consumers' enquiries.</p>
              
                      <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Quick Image Detection</a></h4>
              <p class="description">Our Machine Learning Models help car rental companies to sieve through and assess for damage</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Low Costs</a></h4>
              <p class="description">Our proven ML models ensure lower pricing for our customers</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= How It Works Section ======= -->
    <section id="howitworks" class="howitworks">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>How It Works</h2>
            <p>Key Features</p>
        </div>
          
                <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{{ url_for('static',filename='images/carsnap.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>How A Customer Uploads An Image For Assessment</h3>
            <p class="fst-italic">
              Prior to completing a booking, a customer only needs to submit these 4 pictures of the rental vehicle via your app or webpage. Our A.I. will then detect for damages and will deliver an assessment of the extent of the damage.
            </p>
            <ul>
              <li> Front </li>
              <li> Rear </li>
              <li> Left Side </li>
              <li> Right Side </li>
            </ul>

          </div>
        </div>
          
          
                  <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{{ url_for('static',filename='images/dispute.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Takes Away The Fuss Of Rental Inspections</h3>
           <!-- <p class="fst-italic">
              Protect your car rental business and customers against damage assessments that are missed out or disputed claims.
            </p>-->
            <p>
              Protect your car rental business and customers against damage assessments that are missed out or disputed claims.
            </p>
            <ul>
              <li> Instant upload by customers</li>
              <li> A.I. takes away the mundane of inspections and verifications</li>
           
            </ul>
          </div>
        </div>
<div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{{ url_for('static',filename='images/Short-Term-Car-Rental.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Peace Of Mind For Customers</h3>
             <p>
          Customers know and can trust our A.I. to take the fuss out of vehicle inspections and this can smoothen the rental process for your business.
            </p>
            

          </div>
        </div>
       
          
          
          
          
          
            </div>

    </section><!-- End How It Works Section -->


    <!-- ======= Partners Section ======= -->
    <section id="partners" class="partners">
      <div class="container">
      
      
       <style>
        * {
          box-sizing: border-box;
        }

        .column {
          float: left;
          width: 12.5%;
          padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>
     

        <div class="section-title" data-aos="fade-up">
          <h2>Partners</h2>
          <p>Our Clientele</p>
        </div>
         
          
          <div class="row">

  <div class="column">
    <img src="{{ url_for('static',filename='images/partners/carzuno.png') }}" alt="Carzuno" style="width:100%">
  </div>
  <div class="column">
    <img src="{{ url_for('static',filename='images/partners/carro.jpeg') }}" alt="Carro" style="width:100%">
  </div>
    <div class="column">
    <img src="{{ url_for('static',filename='images/partners/drivelah.png') }}" alt="Drivelah" style="width:100%">
  </div>
     <div class="column">
    <img src="{{ url_for('static',filename='images/partners/getgo.png') }}" alt="GetGo" style="width:100%">
  </div>
     <div class="column">
    <img src="{{ url_for('static',filename='images/partners/hertz.png') }}" alt="Hertz" style="width:100%">
  </div>
     <div class="column">
    <img src="{{ url_for('static',filename='images/partners/popular.png') }}" alt="Popular" style="width:100%">
  </div>
      <div class="column">
    <img src="{{ url_for('static',filename='images/partners/sgcarrental.png') }}" alt="SG Car Rental" style="width:100%">
  </div>
     <div class="column">
    <img src="{{ url_for('static',filename='images/partners/tribecar.jpeg') }}" alt="Tribe Car" style="width:100%">
  </div>
                     
              
</div>


      </div>
      
    </section><!-- End Partners Section -->
      
      
       <!-- =======Our Team Section ======= -->
    <section id="ourteam" class="ourteam">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Our Great Team</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{{ url_for('static',filename='images/team/zuh.jpeg') }}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Zuhairi Marican</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="{{ url_for('static',filename='images/team/amos.jpeg') }}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amos Lim</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{{ url_for('static',filename='images/team/eugene.jpeg') }}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Eugene</h4>
              </div>
            </div>
          </div>
          
                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{{ url_for('static',filename='images/team/kunmeng.jpg') }}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Kun Meng</h4>
              </div>
            </div>
          </div>
          
          
          
       

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="{{ url_for('static',filename='images/team/george.jpeg') }}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>George</h4>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Team Section -->
   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>10 Marina Blvd, Level 42 Tower 2, Singapore 018983</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>autorent@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+65 6789 1234</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

            <form action="{{ url_for('static',filename='php/contact.php') }}" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>AutoRent</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script type="text/javascript" src="{{ url_for('static',filename='js/aos.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/glightbox.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/swiper-bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/validate.js') }}"></script>




  <!-- Template Main JS File -->
  <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>

</body>

</html>
